<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/student/" method="POST">
        <label> FirstName </label>
        <input type="text" name="firs">
        <label> age </label>
        <input type="text" name="age">
        <label> Department </label>
        <input type="text" name="dep">
        <label> stage </label>
        <input type="text" name="sta">
        <label> material </label>
        <input type="text" name="mat">
        <button type="submit">insert</button>

    </form>


</body>

</html>