<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/app.css">

</head>

<body> -->
<ul>
    <li><a href="/student/">Home</a></li>
    <li><a href="/student/table">Disply</a></li>
    <li><a href="/student/dash">dashbord</a></li>
</ul>
<!-- </body>

</html> -->